@model Inmobilaria_lab2_TPI_MGS.Models.Inmueble

@{
    ViewData["Title"] = "Eliminar Inmueble";
}

<h3>¿Está seguro que desea eliminar este inmueble?</h3>

<div>
    <dl class="row">
        <dt class="col-sm-2">Tipo</dt>
        <dd class="col-sm-10">@Model.Tipo</dd>

        <dt class="col-sm-2">Ambientes</dt>
        <dd class="col-sm-10">@Model.Ambientes</dd>

        <dt class="col-sm-2">Direccion</dt>
        <dd class="col-sm-10">@Model.Direccion</dd>

        <dt class="col-sm-2">Descripción</dt>
        <dd class="col-sm-10">@Model.Descripcion</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
