@model Inmobilaria_lab2_TPI_MGS.Models.Propietario

@{
    ViewData["Title"] = "Editar Propietario";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-user-plus me-2"></i>Editar datos personales
                    </h3>
                </div>
                <div class="card-body">
                    <form asp-action="Edit" asp-controller="Propietarios" method="post">
                        
                        <input type="hidden" name="Persona.Id" value="@Model?.Persona?.Id" />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="Persona_Dni" class="form-label">DNI *</label>
                                    <input type="text" class="form-control" asp-for="Persona.Dni" readonly />
                                </div>
                            </div>

                        
                            <div class="col-md-6">                         
                                <div class="mb-3">
                                    <label for="Persona_Sexo" class="form-label">Sexo *</label>
                            
                                   <select class="form-select" asp-for="Persona.Sexo">
                                            <option value="M">Masculino</option>
                                            <option value="F">Femenino</option>
                                            <option value="X">Otro</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="Persona_Nombre" class="form-label">Nombre *</label>
                                    <input type="text" class="form-control" asp-for="Persona.Nombre" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="Persona_Apellido" class="form-label">Apellido *</label>
                                    <input type="text" class="form-control" asp-for="Persona.Apellido" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="Persona_FechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                                    <input type="date" class="form-control" asp-for="Persona.FechaNacimiento" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="Persona_Email" class="form-label">Email</label>
                                    <input type="email" class="form-control" asp-for="Persona.Email" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="Persona_Telefono" class="form-label">Teléfono</label>
                                    <input type="tel" class="form-control" asp-for="Persona.Telefono" />
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="Estado" asp-for=Estado />
                        <input type="hidden" name="CreadoPor" value="1" />
                        <input type="hidden" name="ModificadoPor" value="1" />
                        <div class="mb-4"></div>
                        <div class="d-flex justify-content-between">
                            <a asp-action="Index" class="btn btn-secondary">
                                <i class="fas fa-arrow-left me-1"></i>Cancelar
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save me-1"></i>Guardar cambios
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
